<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta name="theme-color" content="#1ba10f">
    <title></title>
    <!-- Material Design fonts -->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">  -->
     <link href="//cdn.bootcss.com/material-design-icons/2.2.3/iconfont/material-icons.css" rel="stylesheet">
     <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="/static/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/static/dist/css/ripples.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet"></head>
<body>
<style>
    /**style here at this moment*/
    #app .container{
        background:#FAFAFA;
    }
    .followed_list{
        background:#FFFFFF;
        margin-top:50px;
    }
    .followed_list .row{
        margin:0px;
    }
    .list_img
    {
        float:left;
        margin:10px 0px 10px 15px;
    }
    .list_img img{
        width:42px;
        height:42px;
    }
    .list_content {
        float:left;
        margin:9px 5px 11px;
    width:calc(100% - 140px);
    }
    .list_content span{
        display:inline-block;
    }
    .add_followed{
        float:right;
        margin-top:16px;
        margin-right:18px;
    }
    .add_followed a{
        padding:5px;
    }
    .add_followed a{
        margin:0px 1px;
    }
    .list_content p{
        margin-bottom:3px;
        word-wrap:break-word;
    }
    .list_content h5{
        margin-bottom:5px;
    }
    .list_content strong
    {
        font-size: 16px;
    }
    .followed_item{
        border-bottom:1px solid rgb(245, 245, 245);
    }




</style>
<main id="app" style="background-color:#4CAF50">
    <div class="container">
        <div class="row">
            <ul class="followed_list list-unstyled">
                <li class="followed_item">
                    <div class="row">
                        <div class="list_img">
                            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1468617112,4026338933&fm=23&gp=0.jpg"  alt="..." class="img-rounded">
                        </div>
                        <div class="list_content">
                            <span><strong>I AndyLin</strong></span>
                            <p>暂无签名</p>
                        </div>
                        <div class="add_followed">
                            <a href="javascript:void(0)" class="btn btn-raised btn-success">加关注<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </li>
                <li class="followed_item">
                    <div class="row">
                        <div class="list_img">
                            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1468617112,4026338933&fm=23&gp=0.jpg"  alt="..." class="img-rounded">
                        </div>
                        <div class="list_content">
                            <span><strong>I AndyLin</strong></span>
                            <p></p>

                        </div>
                        <div class="add_followed">
                            <a href="javascript:void(0)" class="btn btn-raised btn-success">加关注<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </li>
                <li class="followed_item">
                    <div class="row">
                        <div class="list_img">
                            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1468617112,4026338933&fm=23&gp=0.jpg"  alt="..." class="img-rounded">
                        </div>
                        <div class="list_content">
                            <span><strong>I AndyLin</strong></span>
                            <p>暂无签名哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>

                        </div>
                        <div class="add_followed">
                            <a href="javascript:void(0)" class="btn btn-success">加关注<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </li>
                <li class="followed_item">
                    <div class="row">
                        <div class="list_img">
                            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1468617112,4026338933&fm=23&gp=0.jpg"  alt="..." class="img-rounded">
                        </div>
                        <div class="list_content">
                            <span><strong>I AndyLin</strong></span>
                            <p>暂无签名哈哈哈哈哈哈哈哈哈哈asdddddddddddd哈</p>

                        </div>
                        <div class="add_followed">
                            <a href="javascript:void(0)" class="btn btn-raised btn-success">加关注<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </li>
                <li class="followed_item">
                    <div class="row">
                        <div class="list_img">
                            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1468617112,4026338933&fm=23&gp=0.jpg"  alt="..." class="img-rounded">
                        </div>
                        <div class="list_content">
                            <span><strong>I AndyLin</strong></span>
                            <p>asddddddddddddsaddddddddddddddddddddsad</p>

                        </div>
                        <div class="add_followed">
                            <a href="javascript:void(0)" class="btn btn-raised btn-success">加关注<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </li>
                <li class="followed_item">
                    <div class="row">
                        <div class="list_img">
                            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1468617112,4026338933&fm=23&gp=0.jpg"  alt="..." class="img-rounded">
                        </div>
                        <div class="list_content">
                            <span><strong>I AndyLin</strong></span>
                            <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                            </p>

                        </div>
                        <div class="add_followed">
                            <a href="javascript:void(0)" class="btn btn-raised btn-success">加关注<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</main>
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<!-- Twitter Bootstrap -->
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Material Design for Bootstrap -->
<script src="/static/dist/js/material.min.js"></script>
<script src="/static/dist/js/ripples.min.js"></script>
<script src="/static/dist/js/vue.js"></script>
<script type="text/javascript">
</script>
</body>
</html>
