{{define "content"}}{{template "header" .}}{{template "header_foo" .}}
<main id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Well done!</strong>&nbsp;你已成功开通账号
                    <a href="javascript:void(0)" class="alert-link"><<<.email>>></a>.
                </div>
                <div class="well">
                    <h3>注册成功</h3>
                    <p>我们将在<span id="second">5</span>秒后转至登录页面</p>
                    <a href="/">返回首页</a>
                    <a href="/account/signin">进入登录</a>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "script" .}}
<script>
    var second = 5;
    var timer = setInterval(function () {
        document.getElementById("second").innerText = second+"";
        if (second <= 0) {
            clearInterval(timer);
            location.replace("/account/signin");
        }
        second--;
    }, 1000);
</script>
{{template "footer" .}}
{{end}}
