{{define "content"}}{{template "header" .}}
<link type="text/css" rel="stylesheet" href="/static/dist/css/snackbar.css">
<style>
    .hr-block {
        border-top: 1px solid #b0bbc0;
        padding-top: 16px;
        margin-top: 16px;
    }

    #shell-box {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: transparent;
    }

    .normal {
        border-radius: 8px 8px 0 0;
        background-color: #ffffff;
        padding: 20px 30px 10px 20px;
        min-height: 300px;
    }

    .tool-box {
        margin-bottom: 10px;
    }

    .tool-box a, .tool-box a:active, .tool-box a:focus, .tool-box a:visited {
        color: gray;
        text-decoration: none;
    }

    .tool-box a:hover {
        color: #0eb400
    }

    #editor-box {
        width: 100%;
        resize: none;
        outline: none
    }

    .min-box {
        position: absolute;
        right: 25px;
        bottom: 25px;
    }

    .fullscreen {
        background-color: #ffffff;
        padding: 20px 30px 10px 20px;
    }
</style>
{{template "header_foo" .}}
<main id="app">

    <div class="modal fade" id="discard-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">舍弃确认</h4>
                </div>
                <div class="modal-body">
                    <p>你是否确认舍弃文本框中输入的内容?&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="discard-action" data-dismiss="modal">舍弃</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container">
        <demo-grid :post="Post" :is_login="IsLogin" :author="Author" :start.sync="start" :comments="Comments"></demo-grid>
    </div>

    <div id="shell-box">
        <div class="container normal" style="display: none">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-1 hidden-xs" style="padding-left: 0;padding-right: 0">
                            <img class="img-responsive img-circle"
                                 src="https://discuss.flarum.org/assets/avatars/vknletk4grtrlylm.jpg"/>
                        </div>
                        <div class="col-sm-11">
                            <div class="tool-box pull-right hidden-xs">
                                <a class="mini-cont" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>&emsp;
                                <a class="fullscreen-cont" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                </a>&emsp;
                                <a class="close-cont" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                            <div class="tool-box visible-xs">
                                <a class="mini-cont" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                                <a href="javascript:submit()" class="pull-right">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </div>
                            <a>My Title</a>
                            <div class="form-group" style="margin-top: 0">
                                <!--<label for="editor-box" class="col-md-2 control-label">Textarea</label>-->
                                <div class="col-md-12">
                                    <textarea class="form-control" id="editor-box" placeholder="Enter Reply"
                                              style="height:250px"></textarea>
                                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                                </div>
                            </div>  <!--/form-group-->
                        </div>   <!--col-sm-11-->
                    </div>   <!--row-->
                </div>  <!--/col-md-12-->
                <div class="col-md-12 text-right normal-show bottom-box hidden-xs">
                    <a href="javascript:submit()" class="btn-success btn">提交</a>
                </div>
            </div>
        </div>
        <div class="min-box" style="display: none;">
            <a href="javascript:normal()" class="btn btn-primary btn-fab" style="padding-top: 6px;">
                <span class="material-icons glyphicon glyphicon-edit"></span>
            </a>
        </div>
    </div>
</main>
<!-- component template -->
<script type="text/x-template" id="grid-template">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ "{{post.Title}}"}}</h2>
            {{ "{{post.Content}}"}}
        </div>

        <div class="col-md-12 hr-block">
            <a v-if="is_login" href="javascript:replyPost()" id="reply-post"
               class="btn btn-raised btn-primary">回复</a>
            <a v-else v-bind:href="'/account/signin?next=/post/'+ post.ID" class="btn btn-raised btn-primary">登录以回复</a>
            <a href="javascript:void(0)" style="color:#607fa6;"><span
                    class="glyphicon glyphicon-comment"></span>{{ "{{post.CommentCount}}"}}评论</a>
            <a href="javascript:void(0)" style="color:#607fa6;"><span
                    class="glyphicon glyphicon-eye-open"></span>{{ "{{post.ViewCount}}"}}浏览</a>
        </div>
    </div>
    <div class="row">
        <div v-for="com in comments" class="col-md-12 hr-block">
            <span>{{ "{{com.ID}}"}}</span>
            <article>{{ "{{com.Content}}"}}</article>
            <a href="javascript:replyRep(this)">回复</a>
        </div>
        <p class="text-center">
            <button @click="loadMore('btn')" :disabled="!loading_enable" class="btn btn-primary">{{ "{{load_text}}" }}
            </button>
        </p>
    </div>
</script>
{{template "script" .}}
<script src="/static/js/form-validate.js"></script>
<script src="/static/dist/js/vue.js"></script>
<script src="/static/dist/js/snackbar.min.js"></script>
<script src="/static/dist/js/jquery.cookie.js"></script>
<script>
    var D = JSON.parse("<<<.data>>>");
    var ID = D.Post.ID;

    $.material.init();
    var loginOptions = {content: "请<a href='/account/signin?next=/post/" + ID + "'>登录</a>后回复", timeout: 4000};
    var errorOptions = {content: "出了点错误,请<a href='/post/" + ID + "'>刷新</a>重试", timeout: 4000};

    function replyPost() {
        replyBox.discardConfirm("");
    }

    function replyRep() {
        if (D.IsLogin) {
            replyBox.discardConfirm("@Hee#213 ");
        } else {
            $.snackbar(loginOptions);
        }
    }

    function submit() {
        var value = $("#editor-box").val();
        if (value) {
            if (D.IsLogin) {
                value = value.replace(/</g, "&nbs");
                value = value.replace(/>/g, "&nbs");
                try { //cookie may be null or something else bad data
                    xsrf = base64_decode(Cookies.get('_xsrf').split("|")[0]);
                } catch (err) {
                    $.snackbar(errorOptions);
                    return
                }
                $.ajax({
                    type: 'POST',
                    url: "/comment/add/" + ID,
                    data: {_xsrf: xsrf, content: value},
                    success: function (data) {
                        try {
                            switch (data.Status) { //1 for success,0 for not login,2 for article have deleted!
                                case 0:
                                    $.snackbar(loginOptions);
                                    break;
                                case 1:
                                    var options = {content: "发布成功", timeout: 2000};
                                    $.snackbar(options);
                                    D.Comments.push({Content: value, ID: data.Addition});
                                    D.start++;
                                    replyBox.close(false);
                                    break;
                                case 2:
                                    var options = {content: "添加回复失败,请重试!", timeout: 2000};
                                    $.snackbar(options);
                                    break;
                                case 3:
                                    var options = {content: "对应文章不存在", timeout: 2000};
                                    $.snackbar(options);
                                    break;
                            }
                        } catch (err) {
                            $.snackbar(errorOptions);
                        }
                    },
                    error: function (err) {
                        $.snackbar(errorOptions);
                    }
                });
            } else {  //not login
                $.snackbar(loginOptions);
            }
        } else {
            var options = {content: "回复内容不能为空", timeout: 2000};
            $.snackbar(options);
        }
    }
</script>
<script>
    Vue.component('demo-grid', {
        template: '#grid-template',
        props: {
            is_login: Boolean,
            start: Number,
            comments: Array,
            post: JSON,
            author: JSON
        },
        ready: function () {
            this.loadMore()
        },
        data: function () {
            return {
                id: ID,
                load_text: "加载更多",
                loading_enable: true
            }
        },
        methods: {
            loadMore: function (btn) {
                var self = this;

                function loadComments(start) {
                    $.ajax({
                        type: 'GET',
                        url: "/comment/" + ID + "/" + start,
                        success: function (data) {
                            if (data.length == 0) {
                                self.load_text = "没有更多内容了";
                                self.loading_enable = false;
                                return;
                            }
                            data.forEach(function (e) {
                                self.comments.push(e);
                            });
                            self.load_text = "加载更多";
                            self.loading_enable = true;
                            self.start += data.length;
                        }, error: function (err) {
                            self.load_text = "加载失败,重新加载";
                            self.loading_enable = true;
                            console.log(err)
                        }
                    });
                }
                loadComments(this.start);
                this.load_text = "正在加载";
                this.loading_enable = false;
            }
        }
    });

    D.Comments = [];
    D.start = 0;
    new Vue({
        el: 'html',
        data: D
    });
</script>
<script>
    var isFull = false;
    //全屏图标问题 关闭问题
    replyBox = {
        option: {
            ele: null,
            mini_ele: ".mini-cont",
            full_ele: "fullscreen-cont",
            close_ele: "close-cont",
            text_height: 250
        },
        close: function (confirm) {
            var editor = $("#editor-box");

            function clean() {
                //clear it
                editor.val("");
                replyBox.option.ele.find("div:first").css("display", "none");
                replyBox.option.ele.children().last().css("display", "none")
            }

            if (confirm && editor.val()) {
                replyBox.discardConfirm("", clean)
            } else {
                clean();
            }
        },
        minial: function () {
            this.option.ele.find("div:first").css("display", "none");
            this.option.ele.children().last().css("display", "block");
        },
        normal: function () {
            var container = this.option.ele.find("div:first");
            container.css("display", "block");
            container.removeClass("fullscreen");
            container.addClass("normal container");
            this.option.ele.children().last().css("display", "none");
            //text!!!
            var editor = $("#editor-box");
            editor.height(250);
        },
        fullscreen: function () {
            if (isFull) {
                this.normal();
                isFull = false;
            } else {
                var container = this.option.ele.find("div:first");
                container.removeClass("normal container");
                container.addClass("fullscreen");
                $(this).text("退出全屏");

                var height_top = document.getElementById("shell-box").offsetTop;
                var editor = $("#editor-box");
                editor.height(editor.height() + height_top);
                isFull = true;
            }
        },
        init: function (options) {
            this.option = $.extend({}, this.option, options);
            this.option.ele.on("click", this.option.mini_ele, function () {
                replyBox.minial();
            });
            this.option.ele.on("click", this.option.full_ele, function () {
                replyBox.fullscreen();
            });
            this.option.ele.on("click", this.option.close_ele, function () {
                replyBox.close(true);
            });
        },
        discardConfirm: function (default_text, action) {
            replyBox.normal();
            var editor = $("#editor-box");
            if (editor.val()) {
                $('#discard-confirm').modal("show");
                var discard_btn = $("#discard-action");
                discard_btn.off("click");
                if (action) {
                    discard_btn.on("click", action);
                } else { //default action
                    discard_btn.on("click", function () {
                        editor.val(default_text);
                    });
                }
            } else {
                //todo clear contents before: editor.val()
                editor.val(default_text)
            }
        }
    };
    replyBox.init({
        ele: $("#shell-box"), mini_ele: ".mini-cont", close_ele: ".close-cont",
        full_ele: ".fullscreen-cont"
    });
    function normal() {
        replyBox.normal();
    }
</script>
{{template "footer" .}}
{{end}}
