{{define "content"}}{{template "header" .}}
<style>
    .mdl-list-item a {
        color: rgba(0, 0, 0, .87)
    }

    .following {
        padding: 8px 16px
    }

    .has-followed {
        padding: 8px 23px
    }
</style>
{{template "header_foo" .}}
<main id="app">
    <nav class="tab-nav">
        <ul class="nav nav-justified">
            <li>
                <a data-toggle="tab" href="#following">关注的人</a>
            </li>
            <li>
                <a data-toggle="tab" href="#followed">我的粉丝</a>
            </li>
        </ul>
    </nav>
    <div class="container tab-content">
        <!-- Tab panes -->
        <div class="tab-pane" id="following">
            <div class="row">
                <div v-if="!following.length" class="col-xs-12" >
                    <div class="alert alert-info"  style="margin-top:12px;">
                        <strong>Heads up!</strong><span>你目前还没有关注任何人呢，先去论坛逛逛吧~</span>
                    </div>
                </div>
                <div v-else class="col-xs-12" style="background-color: #FFF">
                    <ul class="mdl-list" >
                        <template v-for="follow in following">
                            <li v-if="$index != 0" class="mdl-list-separator"></li>
                            <li class="mdl-list-item" :click="toPerson">
                                <a :href="'/person/'+follow.id">
                                    <img :src="follow.avatar" class="mdl-list-item-avatar img-circle"/>
                                </a>
                                <div class="mdl-list-item-primary-content">
                                    <a :href="'/person/'+follow.id">{{"{{follow.name}}"}}</a><br>
                                    <span class="mdl-list-item-describe">{{"{{follow.bio}}"}}</span>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="followed">
            <div class="row">
                <div  v-if="!followed.length" class="col-xs-12" >
                    <div class="alert alert-info"  style="margin-top:12px;">
                        <strong>Heads up!</strong><span>你目前还没有粉丝呢，先去论坛逛逛吧~</span>
                    </div>
                </div>
                <div v-else class="col-xs-12" style="background-color: #FFF">
                    <ul class="mdl-list">
                        <template v-for="follow in followed">
                            <li v-if="$index != 0" class="mdl-list-separator"></li>
                            <li class="mdl-list-item">
                                <a :href="'/person/'+follow.id">
                                    <img :src="follow.avatar" class="mdl-list-item-avatar img-circle"/>
                                </a>
                                <div class="mdl-list-item-primary-content">
                                    <a :href="'/person/'+follow.id">{{"{{follow.name}}"}}</a><br>
                                    <span class="mdl-list-item-describe">{{"{{follow.bio}}"}}</span>
                                </div>
                                <div class="mdl-list-item-action">
                                    <button :disabled="follow.Status!=0" @click="followAction($index)"
                                            v-text="follow.Status==1?'已关注':(follow.Status==2?'正在关注':'关注')"
                                            :class="{'has-followed':follow.Status==1,'following':follow.Status==2}"
                                            class="btn btn-primary"></button>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "script" .}}
<script src="/static/dist/js/vue.js"></script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
    var FOLLOWING_TITLE = "关注的人";
    var FOLLOWED_TITLE = "我的粉丝";
    $.material.init();
    var follows = JSON.parse("<<< .follows>>>");

    if (!follows.Followed) {  //follows.Followed may be null
        follows.Followed = [];
    }
    if (!follows.Following) {
        follows.Following = [];
    }

    //add status
    follows.Followed.forEach(function (e) {
        e.Status = hasFollowingId(e.id) ? 1 : 0;  //0:未关注，1:已经关注，2:正在关注
    });

    function hasFollowingId(id) {
        var flag = false;
        follows.Following.forEach(function (e) {
            if (e.id == id) {
                flag = true;
            }
        });
        return flag;
    }

    new Vue({
        el: 'html',
        data: {
            following: follows.Following,
            followed: follows.Followed,
            title: ""
        },
        methods: {
            followAction: function (index) {
                var options = {
                    content: "出了点错误,请<a href='" + window.location.href + "'>刷新</a>重试",
                    timeout: 4000
                };
                try { //cookie may be null or something else bad data
                    xsrf = base64_decode(Cookies.get('_xsrf').split("|")[0]);
                } catch (err) {
                    $.snackbar(options);
                    return
                }
                var f = this.followed[index];
                var self = this;
                f.Status = 2;
                $.ajax({
                    type: 'POST',
                    url: "/profile/follow/add",
                    data: {_xsrf: xsrf, id: f.id},
                    success: function (data) {
                        try {
                            Util.simpleParseError.init(data.Status, data.Error, {
                                onSuccess: function () {
                                    options.content = "关注成功";
                                    f.Status = 1;
                                    self.following.push({avatar: f.avatar, bio: f.bio, name: f.name});
                                }, errorCallback: function (msg) {
                                    options.content = msg;
                                    f.Status = 0;
                                },
                                onUnAuth: function () {
                                    options.content = "请<a href='/account/signin?next=" + document.location.pathname + "'>登录</a>后进行关注";
                                    f.Status = 0;
                                }
                            });
                        } catch (err) {
                            f.Status = 0;
//                            console.log(err);
                        }
                        $.snackbar(options);
                    },
                    error: function (err) {
                        f.Status = 0;
                        $.snackbar(options);
                    }
                });
            }
        },
        ready: function () {
            var self = this;
            //set title
            if (document.location.pathname.indexOf("following") < 0) {
                this.title = FOLLOWED_TITLE;
                $('.tab-nav a[href="#followed"]').tab('show');
            } else {
                this.title = FOLLOWING_TITLE;
                $('.tab-nav a[href="#following"]').tab('show');
            }

            $(document).on('show.bs.tab', '.tab-nav a[data-toggle="tab"]', function (e) {
                if ($(e.target).attr("href") == "#following") {
                    window.history.replaceState(null, FOLLOWING_TITLE, "/profile/following");
                    self.title = FOLLOWING_TITLE;
                } else {
                    window.history.replaceState(null, FOLLOWED_TITLE, "/profile/followed");
                    self.title = FOLLOWED_TITLE;
                }
            });
        }
    });
</script>
{{template "footer" .}}
{{end}}