{{define "content"}}{{template "header" .}}
{{template "header_foo" .}}
<main id="app">
    <div class="container">
        <div class="col-md-6 col-xs-12">
            <div style="height:25px"></div>
            <ul class="mdl-list" style="background-color: #FFF">
                <template v-for="follow in follows">
                    <li v-if="$index != 0" class="mdl-list-separator"></li>
                    <li class="mdl-list-item">
                        <img src="/static/img/default.png" class="mdl-list-item-avatar img-circle"/>
                        <div class="mdl-list-item-primary-content">
                            <span>{{"{{follow.Name}}"}}</span><br>
                            <span class="mdl-list-item-describe">{{"{{follow.Bio}}"}}</span>
                        </div>
                        <div class="mdl-list-item-action">
                            <!--<span class="mdl-list__item-secondary-info">Actor</span>-->
                            <a href="javascript:void(0)" class="btn btn-primary">关注</a>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</main>
{{template "script" .}}
<script src="/static/dist/js/vue.js"></script>
<script type="text/javascript">
    var follows = JSON.parse("<<< .follows>>>");
    new Vue({
        el: "html",
        data: {
            follows: follows
        }
    });
</script>
{{template "footer" .}}
{{end}}