{{define "content"}}{{template "header" .}}{{template "header_foo" .}}
<style>
    .profile-bio {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-all;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        .profile-box {
            text-align: center;
            color: white;
        }

        .profile-bio {
            padding: 0 50px;
        }

        .profile-summary {
            text-align: center;
        }
    }

    @media (max-width: 600px) {
        .profile-bio {
            padding: 0 30px;
        }
    }

    @media (min-width: 768px) {
        .profile-box {
            text-align: left;
            color: white;
        }

        .profile-box .profile-avatar {
            float: left;
            margin-right: 20px;
        }
    }

    .profile-username a, .profile-username a:hover, .profile-username a:active, .profile-username a:visited, .profile-username a:focus {
        color: white
    }

    .profile-avatar img {
        width: 136px;
        height: 136px;
    }

    .follow-action {
        display: inline-block;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 2px;
        background-color: #0eb400;
        border-radius: 50%;
        color: white;
        position: relative;
        left: -34px;
        top: 40px;
    }

    .follow-action:hover, .follow-action:visited {
        color: white;
    }

    .follow-action:active, .follow-action:focus {
        color: white;
    }
</style>
<main id="app">
    <div class="container-fluid" style="background-color:#4CAF50;padding-top:20px;padding-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-9 profile-box">
                    <div class="profile-header row">
                        <div class="profile-avatar">
                            <a href="#">
                                <img class="img-circle img-thumbnail" :src="Avatar" alt="Avatar">
                            </a>
                            <a href="javascript:void(0)" class="follow-action withripple"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <h2 class="profile-username"><a href="#" v-text="Name" >正在加载</a></h2>
                        <p v-text="'个人简介:'+Bio" class="profile-bio">正在加载</p>
                        <p class="profile-join">
                            <span class="glyphicon glyphicon-time"></span>2016年6月15日加入
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 profile-summary">
                    <button v-text="PostCount+'帖子'" class="btn btn-success btn-raised">正在加载</button>
                    <button v-text="FollowedCount+'粉丝'" class="btn btn-success btn-raised">正在加载</button>
                    <button v-text="FollowingCount+'关注'"class="btn btn-success btn-raised">正在加载</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">最新动态</h3>
                </div>
                <div class="panel-body">
                    <p><i class="material-icons">sentiment_neutral</i>
                        <span style="font-size:16px;vertical-align: super">这人这里空空如也~user id:{{"{{UserRefer}}"}}</span></p>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "script" .}}
<script src="/static/dist/js/vue.js"></script>
<script type="text/javascript">
    $.material.init();
    var person = JSON.parse("<<<.person>>>");
    new Vue({
        el: "html",
        data: person,
        ready: function () {
            $.material.ripples('.withripple');
        }
    })
</script>
{{template "footer" .}}
{{end}}