{{define "content"}}{{template "header" .}}{{template "header_foo" .}}
<style>
    .profile-bio {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-all;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        .profile-box {
            text-align: center;
            color: white;
        }

        .profile-bio {
            padding: 0 50px;
        }

        .profile-division{
            border-bottom: solid #fff 1px;
            margin: 1.2rem 10%;
        }
        .profile-summary {
            text-align: center;
        }

        .edit-control {
            position: absolute;
            right: 8px;
        }
    }

    @media (max-width: 600px) {
        .profile-bio {
            padding: 0 30px;
        }
    }

    @media (min-width: 768px) {
        .profile-box {
            text-align: left;
            color: white;
        }

        .profile-box .profile-avatar {
            float: left;
            margin-right: 20px;
        }
        .edit-control {
            position: absolute;
            right: 20px;
        }

        .profile-division{
            border-bottom: none;
            margin: 1.2rem 10%;
        }
    }

    .profile-username a, .profile-username a:hover, .profile-username a:active, .profile-username a:visited, .profile-username a:focus {
        color: white
    }

    .profile-avatar img {
        width: 136px;
        height: 136px;
    }

    .follow-action {
        display: inline-block;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 2px;
        background-color: #0eb400;
        border-radius: 50%;
        color: white;
        position: relative;
        left: -34px;
        top: 40px;
    }

    .follow-action:hover, .follow-action:visited {
        color: white;
    }

    .follow-action:active, .follow-action:focus {
        color: white;
    }

    .profile-summary-item{
        color:#fff;
        display: inline-block;
        margin-left:1.2rem;
        margin-right:1.2rem;
        text-align: center;
    }
</style>
<main id="app">
    <div class="container-fluid" style="background-color:#4CAF50;padding-top:20px;padding-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-9 profile-box">
                    <div class="profile-header row">
                        <div v-if="person.Edit" class="btn-group edit-control">
                            <a href="/person/edit" class="btn btn-primary btn-group-sm btn-fab">
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </div>
                        <div class="profile-avatar">
                            <a href="#">
                                <img class="img-circle img-thumbnail" :src="person.Avatar" alt="Avatar">
                            </a>
                            <template v-if="!person.Edit">
                                <a v-if="!person.HasFollowed" @click="addFollow" title="关注" href="javascript:void(0)"
                                   class="follow-action withripple"><i class="material-icons">add</i></a>
                                <a v-else title="取消关注" @click="unFollow" href="javascript:void(0)"
                                   class="follow-action withripple"><i class="material-icons">remove</i></a>
                            </template>
                        </div>
                        <h2 class="profile-username">
                            <a href="#">
                                <span v-text="person.Name">正在加载</span>
                            </a>
                        </h2>
                        <p v-text="'个人简介:'+person.Bio" class="profile-bio">正在加载</p>
                        <p class="profile-join">
                            <span class="glyphicon glyphicon-time"></span>2016年6月15日加入
                        </p>
                    </div>
                </div>
            </div>
            <div class="row profile-division"></div>
            <div class="row">
                <div class="col-xs-12 profile-summary">
                    <div class="profile-summary-item">
                        <span v-text="person.PostCount">正在加载</span><br>
                        <span>帖子</span>
                    </div>
                    <div class="profile-summary-item">
                        <span v-text="person.FollowedCount">正在加载</span><br>
                        <span>粉丝</span>
                    </div>
                    <div class="profile-summary-item">
                        <span v-text="person.FollowingCount">正在加载</span><br>
                        <span>关注</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">积分</div>
                            <div class="col-xs-3 col-sm-2">兑换点</div>
                            <div class="col-xs-3 col-sm-2">代金券</div>
                            <div class="col-xs-3 col-sm-2">兑换中心</div>
                        </div>
                    </div>
                </div>
            </div><!---panel-default
        </div>
    </div> <!---/container-fluid--->
    <div style="height:2.2rem"></div>
    <div class="container">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">最新动态</h3>
                </div>
                <div class="panel-body">
                    <p><i class="material-icons">sentiment_neutral</i>
                        <span style="font-size:16px;vertical-align: super">这人这里空空如也~user id:{{"{{person.Id}}"}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "script" .}}
<script src="/static/dist/js/vue.js"></script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
    var SnackBarUnAuth = "请<a href='/account/signin?next=" + document.location.pathname + "'>登录</a>后进行关注";
    var SnackBarError = "出了点错误,请<a href='" + window.location.href + "'>刷新</a>重试";

    $.material.init();
    var person = JSON.parse("<<<.person>>>");
    new Vue({
        el: "html",
        data: {person: person, processing: false},
        ready: function () {
            $.material.ripples('.withripple');
        },
        methods: {
            addFollow: function () {
                if (this.processing) {
                    $.snackbar({content: "操作过于频繁,歇会吧~", timeout: 3000});
                    return;
                }
                if (this.person.IsLogin) {
                    try { //cookie may be null or something else bad data
                        xsrf = base64_decode(Cookies.get('_xsrf').split("|")[0]);
                    } catch (err) {
                        $.snackbar({content: SnackBarError, timeout: 3000});
                        return;
                    }
                    var self = this;
                    this.processing = true;
                    $.ajax({
                        type: 'POST',
                        url: "/profile/follow/add",
                        data: {_xsrf: xsrf, id: this.person.Id},
                        success: function (data) {
                            try {
                                Util.simpleParseError.init(data.Status, data.Error, {
                                    onSuccess: function () {
                                        $.snackbar({content: "关注成功", timeout: 3000});
                                        self.person.HasFollowed = true;
                                    }, errorCallback: function (msg) {
                                        $.snackbar({content: msg, timeout: 3000});
                                    },
                                    onUnAuth: function () {
                                        $.snackbar({content: SnackBarUnAuth, timeout: 3000});
                                    }
                                });
                            } catch (err) {
                                $.snackbar({content: SnackBarError, timeout: 3000});
                            }
                            self.processing = false;
                        },
                        error: function (err) {
                            self.processing = false;
                            $.snackbar({content: SnackBarError, timeout: 3000});
                        }
                    });
                } else {
                    $.snackbar({content: SnackBarUnAuth, timeout: 3000});
                }
            },
            unFollow: function () {
                if (this.processing) {
                    $.snackbar({content: "操作过于频繁,歇会吧~", timeout: 3000});
                    return;
                }
                if (this.person.IsLogin) {
                    $.ajax({
                        type: 'POST',
                        url: "/profile/follow/remove",
                        success:function(data){

                        },error:function(data){

                        }
                    });
                } else {
                    $.snackbar({content: SnackBarUnAuth, timeout: 3000});
                }
            }
        }
    })
</script>
{{template "footer" .}}
{{end}}