{{define "content"}}{{template "header" .}}{{template "header_foo" .}}
<style>
    /*sm*/
    @media (max-width: 768px) {
        .profile-box {
            text-align: center;
            color: white;
        }
    }

    @media (min-width: 768px) {
        .profile-box {
            text-align: left;
            color: white;
        }

        .profile-box .profile-cover {
            float: left;
            margin-right: 20px;
        }
    }

    .profile-username a, .profile-username a:hover, .profile-username a:active, .profile-username a:visited, .profile-username a:focus {
        color: white
    }

    .profile-cover img {
        width: 136px;
        height: 136px;
    }

    .follow-action {
        display: inline-block;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        padding: 2px;
        background-color: #0eb400;
        border-radius: 50%;
        color: white;
        position: relative;
        left: -34px;
        top: 40px;
    }

    .follow-action:hover, .follow-action:visited {
        color: white;
    }

    .follow-action:active, .follow-action:focus {
        color: white;
    }
</style>
<main id="app" style="background-color:#4CAF50">
    <div class="container">
        <p style="height:20px"></p>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 profile-box">
                <div class="profile-header row">
                    <div class="profile-cover">
                        <a href="#">
                            <img class="img-circle img-thumbnail" v-bind:src="Cover" alt="...">
                        </a>
                        <a href="javascript:void(0)" class="follow-action withripple"><i class="material-icons">add</i></a>
                    </div>
                    <h2 class="profile-username"><a href="#">{{"{{Name}}"}}</a></h2>
                    <p class="profile-bio">个人简介:{{"{{Bio}}"}}</p>
                    <p class="profile-join">
                        <span class="glyphicon glyphicon-time"></span>2016年6月15日 加入
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success btn-raised">{{"{{PostCount}}"}} 帖子</button>
                <button class="btn btn-success btn-raised">{{"{{CommentCount}}"}} 评论</button>
                <button class="btn btn-success btn-raised">{{"{{FollowedCount}}"}} 粉丝</button>
                <button class="btn btn-success btn-raised">{{"{{FollowingCount}}"}} 关注</button>
            </div>
        </div>
        <h1> user id:{{"{{ID}}"}}</h1>
    </div>
</main>
{{template "script" .}}
<script src="/static/dist/js/vue.js"></script>
<script type="text/javascript">
    $.material.init();
    var person = JSON.parse("<<<.person>>>");
    new Vue({
        el: "html",
        data: person,
        ready: function () {
            $.material.ripples('.withripple');
        }
    })
</script>
{{template "footer" .}}
{{end}}