{{define "content"}}{{template "header" .}}
<link type="text/css" rel="stylesheet" href="/static/dist/css/snackbar.css">
{{template "header_foo" .}}
<main id="app" style="margin-bottom:72px"> <!--footer:60px-->
        <home-grid :home="home"></home-grid>
        <category-grid :category="category"></category-grid>
        <message-grid :message="message"></message-grid>
        <user-grid :user="me"></user-grid>
        <a href="javascript:void(0)" class="btn btn-primary btn-fab" style="position:fixed;right:15px;bottom:75px;padding-top: 13px;">
            <span class="glyphicon glyphicon-refresh" title="刷新"></span>
        </a>
</main>
<!--home template-->
<script type="text/x-template" id="home-template">
  <div class="container" v-show="home.active">
      <div v-show="home.loaded">
          <h1>Home</h1>
          <div class="row">
            <!-- Carousel Card -->
            <div id="home-owl" class="owl-carousel">
              <div v-for="swipe in home.swipes" >
                  <a v-bind:href="{{"swipe.Url"}}" target="_blank">
                    <img v-bind:src="{{"swipe.Img"}}" alt="Awesome Image">
                    <div class="carousel-caption">
                      <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                    </div>
                  </a>
              </div>
            </div>  <!--owl-carousel-->
        </div>  <!--/row--->


          <div v-for="hot in home.hot_posts"  class="list-group">
              <div class="list-group-item">
                    <div class="row-picture">
                          <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
                    </div>
                    <div class="row-content">
                       <span> {{"{{hot.Name}}"}}</span> <!--class="list-group-item-heading"-->
                       <span class="glyphicon glyphicon-eye-open"></span><span>{{"{{hot.ViewCount}}"}}</span>
                       <span class="glyphicon glyphicon-dashboard"></span><span>{{"{{hot.CommentCount}}"}}</span>
                       <p class="list-group-item-text">
                            <a v-bind:href="'/post/'+hot.PostID">{{"{{hot.Title}}"}}</a>
                       </p>
                    </div>
               </div>
               <div class="list-group-separator"></div>
          </div>
          <a @click="loadMore('btn')" :disabled="!home.loading_enable">{{"{{home.hot_loading_text}}"}}</a>
      </div>
      <div v-show="!home.loaded">
          <span>正在加载...</span>
      </div> <!--/home.loaded-->
  </div>  <!--/home.active-->
</script>
<!--category template-->
<script type="text/x-template" id="category-template">
  <div class="container" v-show="category.active">
      <div v-show="category.loaded">
          <h1>category</h1>
          <h4>热门标签</h4>
          <div class="tag-container">
              <a v-for="tag in category.tags" class="category-tag" v-bind:style="{background:tag.Color}">
                 {{"{{tag.Name}}"}}
              </a>
          </div>
          <h4>话题</h4>
          <div class="topic-container">
              <div v-for="topic in category.topics" class="col-md-3 col-md-4 col-sm-6 category-topic" v-bind:style="{background:topic.Color}">
                  <h4><a href="#">{{"{{topic.Name}}"}}</a></h4>
                  <span class="text-info">{{"{{topic.Describe}}"}}</span>
              </div>
          </div>
      </div>
      <div v-show="!category.loaded">
          <span v-bind:click="loadMore">正在加载...</span>
      </div> <!--/category.loaded-->
    </div> <!--/category.active-->
</script>
<!--message template-->
<script type="text/x-template" id="message-template">
  <div class="container" v-if="message.active">
      <h1>Nessage</h1>
      <div v-for="msg in messages">
          {{"{{msg}}"}}
      </div>
  </div>
</script>
<!--me template-->
<script type="text/x-template" id="user-template">
  <div class="container" v-if="user.active">
      <h1>Me</h1>
  </div>
</script>

{{template "tabbar" .}}
{{template "script" .}}
<script src="/static/dist/js/vue.js"></script>
<script src="/static/dist/js/owl.carousel.min.js"></script>
<script src="/static/dist/js/snackbar.min.js"></script>
<script>
  var SHOW_HOME = 1,
   SHOW_CATEGORY = 2,
   SHOW_MESSAGE = 4,
   SHOW_ME = 8;

    Vue.component('home-grid', {
        template: '#home-template',
        props: {
            home: JSON
        },
        ready: function () {
        },
        data: function () {
            return {}
        },
        methods: {
          loadMore:function(){
             console.log(this.home.hot_start);
             requestHotPosts(this,this.home.hot_start);
          }
        }
    });

     Vue.component('category-grid', {
         template: '#category-template',
         props: {
             category: JSON
         },
         ready: function () {
         },
         data: function () {
             return {}
         },
         methods: {}
     });

     Vue.component('message-grid', {
         template: '#message-template',
         props: {
             message: JSON
         },
         ready: function () {
         },
         data: function () {
             return {}
         },
         methods: {}
     });

     Vue.component('user-grid', {
         template: '#user-template',
         props: {
             user: JSON
         },
         ready: function () {
         },
         data: function () {
             return {}
         },
         methods: {}
     });

    var vue = new Vue({
        el: "html",
        data: {
            title: "首页",
            home: {loaded: false,active:true,swipes:[],hot_posts:[],hot_start:0,hot_loading_text:"加载更多",hot_loading_enable:true},
            category: {loaded: false,active:false,tags:[],topics:[]},
            message: {loaded: false,active:false},
            me: {loaded: false,active:false},
            setting: {}
        },
        ready:function(){
           //init
        },
        methods: {
          //status = 1/2/4/8 only
            show:function(status){
              this.home.active = (status&SHOW_HOME) == SHOW_HOME;
              this.category.active = (status&SHOW_CATEGORY) == SHOW_CATEGORY;
              this.message.active = (status&SHOW_MESSAGE) == SHOW_MESSAGE;
              this.me.active = (status&SHOW_ME) == SHOW_ME;
            },
            greetHome: function () {
                this.show(SHOW_HOME);
                if (!this.home.loaded) {
                   requestHomeData(this);
                }
            },
            greetCategory: function () {
                this.show(SHOW_CATEGORY);
                if (!this.category.loaded) {
                    requestCategoryData(this);
                }
            },
            greetMessage: function () {
                this.show(SHOW_MESSAGE);
                if (!this.message.loaded) {
                    console.log("no data");
                    this.message.loaded = true;
                }
            },
            greetMe: function () {
                this.show(SHOW_ME);
                if (!this.me.loaded) {
                   console.log("no data");
                   this.me.loaded = true;
                }
            }
        }
    });

    //第一次加载失败(swipt 与 hot),可以通过点击首页重试
    function requestHomeData(self){
       $.ajax({
           type: 'GET',
           url: "/home/swipe/",
           success: function (data) {
               if (data.length == 0) { //todo
                   //  未找到相关内容;
               }
                self.home.swipes = []; //防止重试加载时会数据重叠
               data.forEach(function (e) {
                   self.home.swipes.push(e);
               });
               self.home.hot_loading_text = "正在加载";
               self.home.hot_loading_enable = false;
               requestHotPosts(self,self.home.hot_start);
           }, error: function (err) {
              // 加载失败,重新加载
               var options = {content: "加载失败,请<a href='#'>重试</a>", timeout: 2000};
               $.snackbar(options);
              //  console.log(err);
           }
       });
    }

    //请求热门帖子的数据
    //第一次由父组件调用,以后加载更多及失败的重试都由子组件负责
    function requestHotPosts(self,start){
      $.ajax({
          type: 'GET',
          url: "/home/hot/"+start,
          success: function (data) { //todo use try catch: data may be not json format
              if (data.length == 0) { //todo
                  self.home.hot_loading_enable = false;
                  self.home.hot_loading_text = "没有更多内容了";
                  return;
              }
              data.forEach(function (e) {
                  self.home.hot_posts.push(e);
              });
              self.home.hot_start += data.length;
              self.home.loaded = true;
              self.home.hot_loading_text = "加载更多";
              self.home.hot_loading_enable = true;
              $("#home-owl").owlCarousel({slideSpeed:300,loop: true,paginationSpeed:400,singleItem:true});   //初始化轮播图
              // $("#home-owl").owlCarousel({autoplay:true,autoplayTimeout:5000,autoplayHoverPause:true,center: true,loop:true,autoWidth:true,items:1});   //2.0初始化轮播图
          }, error: function (err) {
              self.home.hot_loading_enable = true;
              self.home.hot_loading_text = "加载失败,请重试";
              var options = {content: "加载失败,请重试", timeout: 2000};
              $.snackbar(options);
              // console.log(err);
          }
      });
    }

  //请求发现页面的数据
   function requestCategoryData(self){
     $.ajax({
         type: 'GET',
         url: "/home/category/",
         success: function (data) {
             //todo if length ==0 未找到相关内容;
             self.category.tags = []; //防止重试加载时会数据重叠
             self.category.topic = [];
             data.Tags.forEach(function (e) {
                 self.category.tags.push(e);
             });
             data.Topics.forEach(function (e) {
                 self.category.topics.push(e);
             });
             self.category.loaded = true;
         }, error: function (err) {
            // 加载失败,重新加载
             var options = {content: "加载失败,请<a href='#'>重试</a>", timeout: 2000};
             $.snackbar(options);
            //  console.log(err);
         }
     });
   }
</script>
{{template "footer" .}}
{{end}}
