<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta name="theme-color" content="#db5945">
    <title></title>
    <!-- Material Design fonts -->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="/static/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/static/dist/css/ripples.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<main id="app">
        <home-grid :home="home"></home-grid>
        <discover-grid :discover="discover"></discover-grid>
        <message-grid :message="message"></message-grid>
        <user-grid :user="me"></user-grid>
</main>
<!--home template-->
<script type="text/x-template" id="home-template">
  <div class="container" v-if="home.active">
      <div v-if="home.loaded">
          <h1>Home</h1>
          <div v-for="swi in swipe">
              {{swi}}
          </div>
          <div v-for="hot in hot_posts">
             {{hot}}
          </div>
      </div>
      <div v-else>
          <span>正在加载...</span>
      </div> <!--/home.loaded-->
  </div>  <!--/home.active-->
</script>
<!--discover template-->
<script type="text/x-template" id="discover-template">
  <div class="container" v-if="discover.active">
      <h1>discover</h1>
      <div v-for="topic in topics">
          {{topic}}
      </div>
  </div>
</script>
<!--message template-->
<script type="text/x-template" id="message-template">
  <div class="container" v-if="message.active">
      <h1>Nessage</h1>
      <div v-for="msg in messages">
          {{msg}}
      </div>
  </div>
</script>
<!--me template-->
<script type="text/x-template" id="user-template">
  <div class="container" v-if="user.active">
      <h1>Me</h1>
  </div>
</script>


<footer>
    <div class="container-fluid">
        <ul class="row tab-bar text-center">
            <li class="active col-xs-3" v-on:click="greetHome"  data-toggle="tab">
                <a href="#home">
                    <span class="glyphicon glyphicon-home"></span><br>
                    <span class="footer-text">首页</span>
                </a>
            </li>
            <li class="col-xs-3" v-on:click="greetDiscover"  data-toggle="tab">
                <a href="#discover">
                    <span class="glyphicon glyphicon-search"></span><br>
                    <span class="footer-text">发现</span>
                </a>
            </li>
            <li class="col-xs-3" v-on:click="greetMessage" data-toggle="tab">
                <a href="#message">
                    <span class="glyphicon glyphicon-comment"></span><br>
                    <span class="footer-text">消息</span>
                </a>
            </li>
            <li class="col-xs-3" v-on:click="greetMe" data-toggle="tab">
                <a>
                    <span class="glyphicon glyphicon-user"></span><br>
                    <span class="footer-text">我</span>
                </a>
            </li>
        </ul>
    </div>

</footer>
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<!-- Twitter Bootstrap -->
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Material Design for Bootstrap -->
<script src="/static/dist/js/material.min.js"></script>
<script src="/static/dist/js/ripples.min.js"></script>
<script src="/static/dist/js/vue.js"></script>
<script src="/static/dist/js/snackbar.min.js"></script>
<script>
  var SHOW_HOME = 1,
   SHOW_DISCOVER = 2,
   SHOW_MESSAGE = 4,
   SHOW_ME = 8;

    Vue.component('home-grid', {
        template: '#home-template',
        props: {
            home: JSON
        },
        ready: function () {
        },
        data: function () {
            return {}
        },
        methods: {}
    });

     Vue.component('discover-grid', {
         template: '#discover-template',
         props: {
             discover: JSON
         },
         ready: function () {
         },
         data: function () {
             return {}
         },
         methods: {}
     });

     Vue.component('message-grid', {
         template: '#message-template',
         props: {
             message: JSON
         },
         ready: function () {
         },
         data: function () {
             return {}
         },
         methods: {}
     });

     Vue.component('user-grid', {
         template: '#user-template',
         props: {
             user: JSON
         },
         ready: function () {
         },
         data: function () {
             return {}
         },
         methods: {}
     });

    var vue = new Vue({
        el: "html",
        data: {
            title: "首页",
            home: {loaded: false,active:true},
            discover: {loaded: false,active:false},
            message: {loaded: false,active:false},
            me: {loaded: false,active:false},
            setting: {}
        },
        ready:function(){
           //init
        },
        methods: {
          //status = 1/2/4/8 only
            show:function(status){
              this.home.active = (status&SHOW_HOME) == SHOW_HOME;
              this.discover.active = (status&SHOW_DISCOVER) == SHOW_DISCOVER;
              this.message.active = (status&SHOW_MESSAGE) == SHOW_MESSAGE;
              this.me.active = (status&SHOW_ME) == SHOW_ME;
            },
            greetHome: function () {
                this.show(SHOW_HOME);
                if (!this.home.loaded) {
                   requestHomeData(this);
                }
            },
            greetDiscover: function () {
                this.show(SHOW_DISCOVER);
                if (!this.discover.loaded) {
                    console.log("no data");
                    this.discover.loaded = true;
                }
            },
            greetMessage: function () {
                this.show(SHOW_MESSAGE);
                if (!this.message.loaded) {
                    console.log("no data");
                    this.message.loaded = true;
                }
            },
            greetMe: function () {
                this.show(SHOW_ME);
                if (!this.me.loaded) {
                   console.log("no data");
                   this.me.loaded = true;
                }
            }
        }
    });

    function requestHomeData(self){
       self.home.loaded = true;
       $.ajax({
           type: 'GET',
           url: "/home/swipe/",
           success: function (data) {
               if (data.Size == 0) {
                //  未找到相关内容;
                   return;
               }
              //  data.Comments.forEach(function (e) {
              //      self.comments.push(e);
              //  });
           }, error: function (err) {
              // 加载失败,重新加载"
               console.log(err);
           }
       });
    }
</script>
</body>
</html>
