<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta name="theme-color" content="#db5945">
    <title>首页</title>
    <!-- Material Design fonts -->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="/static/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/static/dist/css/ripples.min.css" rel="stylesheet">
</head>
<body><header>
    <div class="navbar navbar-default" style="background-color:#607fa6">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">GoForum</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">发现</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control col-md-8" placeholder="Search Everywhere">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/account/signin">登录</a></li>
                    <li><a href="/account/signup">注册</a></li>
                    <li class="dropdown"> <!--已登录-->
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            HHell<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">个人中心</a></li>
                            <li><a href="/account/signout">退出</a></li>
                            <!--javascript:void(0)-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main id="app">

</main>
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<!-- Twitter Bootstrap -->
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Material Design for Bootstrap -->
<script src="/static/dist/js/material.min.js"></script>
<script src="/static/dist/js/ripples.min.js"></script>
<script src="/static/dist/js/vue.js"></script>
<script src="/static/dist/js/snackbar.min.js"></script>
<script>

</script>
</body>
</html>
