<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>protocol</title>
    <style>
        /**{font-family:'Microsoft Yahei', 'Roboto', 'Helvetica', 'Arial', sans-serif;}*/
        .protocol{text-align: center}
        p{font-size: 12px}
    </style>
</head>
<body>
<p>
<h2 class="protocol">论坛服务条款</h2>
<b>一、用户守则</b><br/>
&nbsp&nbsp欢迎您加入www.kuluosi.com参加交流和讨论，www.kuluosi.com为公共论坛，为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：<br/>

1. 互相尊重，遵守互联网络道德，遵守中华人民共和国的各项有关法律法规。<br/>
2. 承担一切因您的行为而直接或间接导致的民事、行政或刑事法律责任。<br/>
3. 不得发表违反中华人民共和国宪法和法律、违反改革开放和四项基本原则的言论。<br/>
4. 不得利用本论坛危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本论坛制作、复制和传播下列信息：<br/>
1) 不得发表反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的；<br/>
2) 不得发表危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一，推翻社会主义制度的；<br/>
3) 不得发表损害国家荣誉和利益的，破坏国家宗教政策，宣扬邪教和封建迷信的；<br/>
4) 不得发表煽动民族仇恨、民族歧视，破坏民族团结的；<br/>
5) 不得发表捏造或者歪曲事实，散布谣言，扰乱社会秩序，破坏社会稳定的；<br/>
6) 不得发表侮辱他人或者捏造事实诽谤他人的，侵害他人合法权益的；<br/>
7) 不得发表任何含有威胁、恐吓、漫骂、不雅、庸俗、亵渎、色情、淫秽、赌博、暴力、凶杀、非法、反动、前后矛盾、攻击性、伤害性、骚扰性、诽谤性、辱骂性的或侵害他人知识产权的文字或图片；<br/>
8) 不得发表可能导致任何计算机软硬件或通讯设备的功能中断、被破坏、被限制的含有计算机病毒或其他计算机密码的文字；<br/>
9) 不得发表明显带有对"www.kuluosi.com"非讨论性、恶意攻击性或错误导向性的文章；<br/>
10) 不得发表有损"www.kuluosi.com"声誉或商业利益的文章；<br/>
11) 不得发表任何对论坛氛围有负面影响的文章；<br/>
12) 不得在论坛中发表与版区主题无关的文章；<br/>
13) 不得将同一文章重复发表或转贴超过三个版以上。<br/>
5. 不得利用本论坛从事以下活动：<br/>
1) 不得未经允许，进入计算机信息网络或者使用计算机信息网络资源的；<br/>
2) 不得未经允许，对计算机信息网络功能进行删除、修改或者增加的；<br/>
3) 不得未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；<br/>
4) 不得故意制作、传播计算机病毒等破坏性程序的；<br/>
5) 不得故意进行其他危害计算机信息网络安全的行为。<br/>
6) 不得利用官方论坛进行游戏虚拟物品、实体物品、账号等交易。
<br/>
<br/>

<b>二、处罚办法</b><br/>
1. 对于违反以上规定的文章，在不需要解释或事先通知的情况下，版主和工作人员有权转贴或删除当前文章。<br/>
2. 发表与版区主题无关的文章，轻者予以转贴或删除，情节特别严重者，版主有权屏蔽用户在该版的发言权。<br/>
3. 在论坛中有非法商业行为或公然发表有关政治、猥亵、色情、反动、宗教、迷信、血腥暴力、商业性质广告和个人攻击性的文章，版主和工作人员有权屏蔽该用户的论坛发言权，删除当前文章。情节特别严重者，公司保留封停其会员账号或删除会员账号的权利。<br/>
4. 在论坛中恶意辱骂其他玩家，版主者，版主和工作人员应对其严重警告一次。若警告无效，经查实后，公司保留封停其会员账号或删除会员账号的权利。<br/>
5. 在论坛签名档中发现含有色情，政治，反动，外挂，私服，木马等内容，版主和工作人员应对其严重警告一次。若警告无效，公司保留封停其会员账号或删除会员账号的权利。<br/>
6. 如果论坛内存在用户违反中华人民共和国法律法规的行为，将上交公安机关处理。
<br/>
<br/>
<b>三、注册</b><br/>
用户名注册注意事项：<br/>
1.请勿以党和国家领导人或其他名人的真实姓名、字号、艺名、用户名注册；<br/>
2.请勿以国家机构或其他机构的名称注册；<br/>
3.请勿注册和其他网友之名相近、相仿的名字；<br/>
4.请勿注册不文明、不健康之用户名；<br/>
5.请勿注册易产生歧义、引起他人误解之用户名；<br/>
6.请勿注册图形符号等无任何意义的用户名。<br/>
7.如出现上述情况，本论坛有权锁定与删除用户名。
<br/>
<br/>
<b>四隐私条款</b><br/>
一会员资料的收集<br/>
&nbsp&nbsp 用户在匿名状态下即可访问本平台获取大宗商品信息。本公司仅在有关的合法目的下，并经用户同意，以合法的方式收集必要的用户个人资料。<br/>
本平台有根据会员留下的真实有效的联系方式主动向用户发起呼叫，与会员联系，进行信息审核，信息确认等事宜。由于会员自行处置宣传信息或不接听我方电话而可能遭受的损失，<br/>
我公司概不承担责任。会员在本平台注册时，须依注册内容之提示提供会员本人或单位的真实、准确、完整信息，并保证会员资料的及时更新。因会员提供信息不准确、不完整或未及时更新而可能遭受的任何损害，本公司不承担任何责任。因会员提供信息不准确、不完整或未及时更新给本公司造成损失的，本公司保留追偿的权利。<br/>
<br/>
二会员资料的使用<br/>
&nbsp&nbsp 本公司有权为内部经营、管理、统计等目的使用您提供的资料，包括但不限于：日常管理本公司提供给会员的服务及产品、监控本论坛的安全使用、内部调研、对来访数据进行统计和研究；促进更新供会员享用的服务和产品；确认核对联络和消费名单、为宣传推广目的；为解决争议、排除纠纷和执行本法律声明目的等。<br/>
<br/>
三会员资料的披露<br/>
&nbsp&nbsp clothesplus将采取合理的安全手段保护会员提供的信息，在未得到用户许可之前，本平台不会擅自将会员信息（包括会员资料）披露给任何无关的第三方，但涉及下列情形之一的除外：<br/>
1、权力机关依照法定程序要求提供。<br/>
2、为公共安全之目的。<br/>
3、经会员同意，与其它人士或单位共享会员资料的。<br/>
4、由于会员对自身信息保密不当，从而导致会员资料的泄露。<br/>
5、由于网络线路、黑客攻击、计算机病毒等原因造成资料泄露、丢失、被盗用或被篡改等。<br/>
6、为了保护本论坛其他会员更为重要的权利或财产。<br/>
7、其他特殊或紧急情况。<br/>
<br/>
<b>四.附则</b><br/>
1. 您在"www.kuluosi.com"论坛发表的文章仅代表您的个人观点，不代表上海邮通科技有限公司（简称"本公司"）观点。<br/>
2.凡转贴文章，应注明原始出处和时间, 所有用户发表的文章因版权引起的纠纷，与本论坛无关。转贴文章时请注意原发表单位的版声明，并负担由此可能产生的版权责。<br/>
3. 用户在"www.kuluosi.com"论坛发表文章，将被视为该用户已授权本公司在"www.kuluosi.com"及本公司旗下所有论坛中免费转载或引用该用户的文章。<br/>
4. 您一旦登录"www.kuluosi.com"论坛，就表示您将同意并遵守 "www.kuluosi.com"论坛服务条款，并完全服从于"www.kuluosi.com"论坛的统一管理。<br/>
5. 本公司版权所有，未经授权禁止复制或建立镜像。<br/>
6. 根据国家相关法律法规要求"www.kuluosi.com"论坛对部分敏感文字进行了过滤。<br/>
7. 本条款由本公司制定，解释权、修改权归本公司所有。<br/>
8. 本公司保留判定用户的行为是否符合"www.kuluosi.com"论坛服务条款的权利。若用户的行为不符合服务条款的规定，本公司将做出独立判断并采取相应措施。<br/>
9. 用户利用"www.kuluosi.com"论坛服务进行任何违法或侵权行为，由用户自行承担全部责任，与本公司无关。如因此造成损失的，由用户承担全部赔偿责任。<br/>
10. 本公司有权在必要时修改论坛的服务内容，同时本公司保留修改或中断服务而不需事先通知用户的权利。<br/>
11. 本条款未涉及的问题参见国家有关法律法规，当本条款与国家法律法规冲突时，以国家法律法规为准。<br/>
12. 在本条款规定范围内，本公司有最终解释权。本条款的改动恕不另行通知，<br/>

</p>
</body>
</html>